class="klaviyo_submit_button newsletterForm__submit"<footer class="section u-bgMainBlue u-hideMobile">
  <div class="section__inner u-pt120 u-pb60">
    <a href="/" class="logo u-mb30 u-block"></a>
    <div class="u-flex">
      <div class="g-span3 u-pt40 u-mb30">
        <p class="t-bodySmall u-mb15">Recycle your email address for 15% off.</p>
        {% assign newsletter_class = "u-mb30" %}
        {% assign newsletter_color = "mainBlue" %}
        {% assign newsletter_id = "footer-desktop" %}
        {% include 'newsletter' %}
        <div class="u-flex u-vPad30">
          <a  class="t-smallPrint u-mr30 t-hoverUnderline" href="/pages/privacy-policy">Privacy Policy</a>
          <a class="t-smallPrint t-hoverUnderline" href="/pages/terms-of-service">Terms of Service</a>
        </div>
      </div>
      <div class="g-span2 g-offset1">
        {% for link in linklists.footer.links %}
          <div class="u-mb25"><a class="t-footerHeading t-hoverUnderline t-hoverUnderline--medium" href="{{ link.url }}">{{ link.title }}</a></div>
        {% endfor %}
      </div>
      <div class="g-span2">
        <h3 class="t-footerHeading u-mb25">Contact us</h3>
        <div class="u-mb40">
          {% for link in linklists.footer-emails.links %}
            <div class="u-mb10"><a class="t-bodySmall t-hoverUnderline" href="mailto:{{ link.title }} ">{{ link.title }}</a></div>
          {% endfor %}
        </div>
        {% include "social-links" %}
      </div>
      <div class="g-span2 g-offset1 u-flex u-columnReverse t-right">
        <span class="t-smallPrint u-mb60" >Copyright {{ 'now' | date: "%Y" }}</span>
      </div>
    </div>

  </div>


</footer>

<!-- MOBILE FOOTER -->
<div class="section u-bgMainBlue u-showMobile">
  <div class="section__inner t-center u-pt80">
    <div class="logo u-mb50 u-marginAuto"></div>

    <div class="g-span2 g-offset1">
      {% for link in linklists.footer.links %}
        <a class="t-footerHeading u-mb25 u-block" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
    <div class="g-span2">
      <div class="u-mb40">
        {% for link in linklists.footer-emails.links %}
          <a class="u-block t-bodySmall u-mb10" href="mailto:{{ link.title }} ">{{ link.title }}</a>
        {% endfor %}
      </div>
      <ul class="socialLinks u-marginAuto u-mb80">
        {% include "social-links" %}
      </ul>
    </div>

    <p class="t-bodySmall u-mb15">Recycle your email address for 15% off.</p>
    {% assign newsletter_class = "u-mb30" %}
    {% assign newsletter_color = "mainBlue" %}
    {% assign newsletter_id = "footer-mobile" %}
    {% include 'newsletter' %}

    <div class="u-flex u-vPad30 u-flexEdges">
      <a class="t-smallPrint" href="/pages/privacy-policy">Privacy Policy</a>
      <a class="t-smallPrint" href="/pages/terms-of-service">Terms of Service</a>
      <span class="t-smallPrint u-mb60" >Copyright {{ 'now' | date: "%Y" }}</span>
    </div>

  </div>
</div>
