{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <title>Ever & Ever</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'favicon-32x32.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{'favicon-96x96.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'favicon-16x16.png' | asset_url }}">

  <link type="text/css" href="{{ 'styles.scss.css' | asset_url }}" rel="stylesheet">
  <!-- Needed for Klaviyo -->
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
</head>
<body>

  <nav class="nav nav--top nav--white" id="nav">
    <div class="nav__left">
      <a href="/" class="nav__brand">{% include "svg-logo" %}</a>
    </div>
  </nav>
  <div style="margin-top: -10rem;"></div>
  {% assign page_banner = "COMING SOON & " %}
  {% include 'page-banner' %}
  {% section "coming-soon" %}
  <div style="position: fixed; top: 0; right: 0; z-index: 1000;">
    {% form 'storefront_password' %}
      <input type='password' name='password' id='password' style="border: none; background: transparent; box-shadow: none;"/>
      <div class="actions" style="opacity: 0; width: 0;">
        <input class="btn" name="commit" type="submit" value="Enter" />
      </div>
    {% endform %}
  </div>
  <div class="section u-vPad100">
    <div class="section__inner">
      <div class="g-span4">
        <div class="accordion accordion--discreet">
          <div class="accordion__label">
            <h3 class="t-smallPrint t-colorMainBlue">{{ pages.privacy-policy.title }}</h3>
          </div>
          <div class="accordion__content">
            <div class="accordion__contentInner">
              <div class="t-colorGrey legal">{{ pages.privacy-policy.content }}</div>
            </div>
          </div>
        </div>
        <h3></h3>

      </div>
    </div>
  </div>
  {{ 'scripts.js' | asset_url | script_tag }}
</body>
</html>
